<nav>
    <div class="container nav-wrapper">
        <a href="{{ '/' | relative_url }}" class="logo">
            <svg class="logo-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M22 10L12 5L2 10L12 15L22 10Z"></path><path d="M6 12V17C9 20 15 20 18 17V12"></path></svg>
            <span>GitLessons</span>
        </a>
        <div class="nav-links">
            <a href="{{ '/' | relative_url }}">Главная</a>
            <!-- <a href="{{ '/python.html' | relative_url }}">Python</a> -->
            <!-- <a href="{{ '/php.html' | relative_url }}">PHP</a> -->
            <!-- <a href="#" class="disabled">SQL</a> -->
        </div>
    </div>
</nav>