<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
</head>
<body>
    <div class="site-wrapper">
        {% include header.html %}
        
        <main class="main-content">
            {{ content }}
        </main>

        {% include footer.html %}
    </div>

<script src="{{ '/assets/js/copy-code.js' | relative_url }}"></script>
</body>
</html>
